.inner {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.no_items {
  margin: 0;
}

.toolbar {
  display: flex;
  gap: var(--md);
  align-items: center;
  margin-bottom: var(--lg);
}
