.list_body {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
  gap: var(--lg);
  padding: var(--md) var(--lg);
  border-radius: var(--sm);
  width: calc(100% - var(--lg) * 4);
}

.row:hover {
  background-color: var(--secondary-hover);
}

.item_level {
  flex-shrink: 0;
}

.row_title_link {
  text-decoration: none;
  color: inherit;
  min-width: 0;
  flex: 1;
}

.row_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: underline;
  min-width: 0;
  display: block;
}
