.blog_layout {
  display: flex;
  gap: var(--lg);
  align-items: flex-start;
  min-height: calc(100vh - var(--xl) * 2);
}

.blog_main {
  min-width: 350px;
  max-width: 36rem;
  flex-grow: 1;
  padding-top: calc(var(--xl) * 4);
  margin: 0 auto;
}
