.blog_wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* realistically should only multiply by powers of 2 */
  margin: calc(var(--lg) * 8) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--md);
  width: calc(100% - var(--lg) * 2);
  max-width: 36rem;
  text-align: center;
}

.blog_wrapper hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}