.gallery_wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: calc(var(--lg) * 8) 0;
  width: calc(100% - var(--lg) * 2);
}

.gallery_card {
  width: fit-content;
  position: relative;
}

.gallery_item {
  opacity: 1;
  object-fit: contain;
  overflow: hidden;
  clip-path: inset(round var(--md));
  width: 36rem;
  cursor: pointer;
  transition: all var(--medium) ease;
  border-radius: var(--lg);
  box-shadow: var(--shadow-soft);
}

.gallery_item:hover {
  opacity: var(--somewhat-visible);
}

.gallery_item:hover + .gallery_content {
  opacity: 1;
}

.gallery_content {
  opacity: 0;
  transition: all var(--medium) ease;
  position: absolute;
  bottom: var(--xl);
  right: var(--xl);
  padding: var(--md);
  text-align: right;
  pointer-events: none;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}