@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* text colors */
  --text: #080808;
  --primary: #cf3a5f;
  --primary-hover: #7c1031;

  /* font sizes */
  --text-sm: 11px;
  --text-md: 13px;
  --text-lg: 15px;
  --text-xl: 17px;
  --text-2xl: 19px;
  --text-3xl: 21px;
  --text-4xl: 23px;
  --normal: 400;
  --bold: 600;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--text);
}

a {
  color: var(--link);
  text-decoration: var(--underline);
  transition: var(--color-transition), background-color 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover);
  text-decoration: var(--underline-hover);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
}

h6 {
  font-size: var(--text-md);
}
