@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* text colors */
  --text: #14141B;
  --text-disabled: #7F7F7F;
  --primary: #D90429;
  --primary-hover: #FB3758; /* imperial red */
  --primary-active: #A0031D;
  --secondary: #FFFFFF;
  --secondary-hover: #F5F5F5;
  --accent: #FFDAAD; /* sunset */
  --accent-hover: #FFE3C2;
  --tertiary: #D03991; /* mulberry */

  /* font sizes */
  --text-sm: 11px;
  --text-md: 13px;
  --text-lg: 15px;
  --text-xl: 17px;
  --text-2xl: 19px;
  --text-3xl: 21px;
  --text-4xl: 23px;
  --normal: 500;
  --bold: 600;

  /* paddings/border-radii etc. */
  --sm: 3px;
  --md: 5px;
  --lg: 8px;

  /* transitions */
  --fast: 0.2s;

  /* shadows */
  --shadow-soft: 
    0 1px 2px rgba(0, 0, 0, 0.03),
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.08);

  --shadow-medium:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 6px 12px rgba(0, 0, 0, 0.11);
}

body {
  margin: 0;
}

body, button, label {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  font-size: var(--text-md);
  font-weight: var(--normal);
}

a {
  color: var(--link);
  text-decoration: var(--underline);
  transition: var(--color-transition), background-color 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover);
  text-decoration: var(--underline-hover);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
}

h6 {
  font-size: var(--text-md);
}
