@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* text colors */
  --text: #14141B;
  --muted: #7F7F7F;
  --muted-light: #BFBFBF;
  --primary: #D90429;
  --primary-hover: #FB3758; /* imperial red */
  --primary-active: #A0031D;
  --secondary: #FFFFFF;
  --secondary-hover: #F5F5F5;
  --accent: #FFDAAD; /* sunset */
  --accent-hover: #FFE3C2;
  --accent-dark: #F58700; /* tiger orange */
  --accent-dark-hover: #FFA333;
  --tertiary: #D03991; /* mulberry */

  /* font sizes */
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-2xl: 20px;
  --text-3xl: 22px;
  --text-4xl: 24px;
  --normal: 500;
  --bold: 600;

  /* paddings/border-radii etc. */
  --sm: 3px;
  --md: 5px;
  --lg: 8px;
  --xl: 16px;

  /* transitions */
  --fast: 0.2s;
  --very-slow: 2s;

  /* shadows */
  --shadow-soft:
    0 1px 2px rgba(0, 0, 0, 0.03),
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.08);

  --shadow-medium:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 6px 12px rgba(0, 0, 0, 0.11);

  --focus-shadow: 0 0 0 2px rgba(217, 4, 41, 0.2);
}


body {
  margin: 0;
}

body, button, label {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  font-size: var(--text-md);
  font-weight: var(--normal);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

/* animations */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
