/*
  Shared markdown styles for both editor and viewer.
*/

.md-h1,
.md-h2,
.md-h3,
.md-h4,
.md-h5,
.md-h6 {
  font-weight: var(--bold);
  color: var(--primary);
  text-decoration: none;
}


.md-h1, h1 {
  font-size: var(--text-4xl);
}

.md-h2, h2 {
  font-size: var(--text-3xl);
}

.md-h3, h3 {
  font-size: var(--text-2xl);
}

.md-h4, h4 {
  font-size: var(--text-xl);
}

.md-h5, h5 {
  font-size: var(--text-lg);
}

.md-h6 {
  font-size: var(--text-md);
}

.md-bold {
  font-weight: var(--bold);
  color: var(--primary);
}

.md-italic {
  font-style: italic;
  opacity: 0.9;
}

.md-underline {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.md-bold-italic {
  font-weight: bold;
  font-style: italic;
  color: var(--primary);
}

.md-strike {
  text-decoration: line-through;
  opacity: 0.7;
}

.md-code {
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0 var(--sm);
  border-radius: var(--sm);
  color: var(--primary);
}

.md-link, a:not(:has(button)) {
  color: var(--tertiary);
  text-decoration: underline;
  cursor: pointer;
  transition: color var(--fast) ease;
}

.md-link:hover, a:not(:has(button)):hover {
  color: var(--tertiary-hover)
}

.md-quote {
  color: var(--text);
  opacity: 0.8;
  border-left: 3px solid var(--primary);
  padding-left: var(--md);
  display: inline-block;
}

.md-list {
  color: var(--primary);
  font-weight: bold;
}