.list {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.item_header {
  display: flex;
  gap: var(--lg);
  align-items: center;
  flex-wrap: wrap;
}

.company {
  font-weight: var(--bold);
}

.date {
  color: var(--muted);
}

.body {
  margin: 0;
}
