.list_page {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
  position: relative;
  width: 100%;
  max-width: 36rem;
  align-self: center;
}

.actions {
  position: fixed;
  bottom: calc(var(--xl) * 2);
  right: calc(var(--xl) * 4);
  display: flex;
  gap: var(--md);
  z-index: 100;
}

.filter_bar {
  position: fixed;
  bottom: calc(var(--xl) * 4);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--md);
  z-index: 100;
  flex-wrap: wrap;
  justify-content: center;
}

.action_icon {
  margin-right: var(--md);
}
