.list_page {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
  position: relative;
}

.create_button {
  position: fixed;
  bottom: calc(var(--xl) * 2);
  right: calc(var(--xl) * 4);
  z-index: 100;
}

.create_icon {
  margin-right: var(--md);
}
