.sidebar {
  gap: var(--lg);
  border-radius: var(--lg);
  background-color: rgb(from var(--secondary) r g b / var(--visible));
  backdrop-filter: blur(var(--sm));
  box-shadow: var(--shadow-soft);
  transition:
    box-shadow var(--medium) ease,
    background-color var(--medium) ease;
  height: auto;
  min-height: calc(100vh - var(--lg) * 2);
  align-self: flex-start;
  position: sticky;
  top: 0;
}

.sidebar:hover {
  box-shadow: var(--shadow-medium);
  background-color: rgb(
    from var(--secondary-hover, var(--secondary)) r g b / var(--visible)
  );
}

.header {
  margin: 0;
}
