.menu {
  position: absolute;
  right: var(--xl);
  top: var(--lg);
  z-index: 502;
}

.trigger {
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;
}

.content {
  width: 280px;
  background-color: transparent !important;
}

.card {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--md);
}

.header_avatar {
  flex-shrink: 0;
}

.header_text {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  text-align: left;
  margin-left: var(--lg);
}

.body {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--md);
}
