.title_row {
  display: flex;
  gap: var(--md);
  align-items: center;
  flex-wrap: wrap;
}

.badge {
  margin-left: auto;
}

.visit_link {
  margin-left: auto;
  color: var(--primary);
  text-decoration: underline;
  font-size: var(--text-md);
  font-weight: var(--normal);
}

.meta {
  display: flex;
  gap: var(--md);
  align-items: center;
}

.github_link {
  color: var(--muted) !important;
  text-decoration: underline;
}

.footer {
  display: flex;
  gap: var(--md);
  flex-wrap: wrap;
}
