.dialog {
  max-width: 36rem;
  width: calc(100vw - var(--xl) * 2);
}

.title_row {
  display: flex;
  gap: var(--md);
  align-items: center;
  flex-wrap: wrap;
}

.visit_link {
  margin-left: auto;
  color: var(--primary);
  text-decoration: underline;
  font-size: var(--text-md);
  font-weight: var(--normal);
}

.github_link {
  color: var(--muted) !important;
  text-decoration: underline;
}

.scroll_area {
  width: 100%;
}
