.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  gap: var(--md);
  align-items: center;
  flex-wrap: wrap;
}

.link {
  margin-left: auto;
}

.actions {
  display: flex;
  gap: var(--md);
  flex-wrap: wrap;
  margin-top: auto;
  padding-top: var(--lg);
}
