.blog_post {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - var(--lg) * 2);
  max-width: 36rem;
  /* realistically should only multiply by powers of 2 */
  margin: calc(var(--lg) * 8) 0;
  padding-bottom: calc(var(--lg) * 4);
}