.item {
  display: flex !important;
  align-items: center;
  padding: var(--md) var(--lg);
  border-radius: var(--sm);
  text-decoration: none;
  color: inherit;
  width: calc(100% - var(--lg) * 2) !important;
}

.item:hover {
  background-color: var(--secondary-hover);
}

.item_active {
  background-color: var(--secondary);
}

.item_title {
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  text-overflow: ellipsis;
  text-decoration: underline;
}
