.hub_skeleton {
  width: calc(100% - var(--lg) * 8);
  margin: 0 auto;
  padding: calc(var(--lg) * 2);
  padding-top: calc(var(--lg) * 4);
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.header {
  height: 12rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--lg);
}

.card {
  height: 14rem;
}
