.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
  padding: var(--lg);
  background-color: var(--secondary);
  border-radius: var(--sm);
  box-shadow: var(--shadow-soft);
  height: calc(100vh - var(--lg) * 2);
  min-width: 12rem;
  width: fit-content;
}