.container {
  display: flex;
}

.slider {
  position: relative;
  user-select: none;
}

.overlay {
  position: absolute;
  top: -2rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  touch-action: none;
}

.slider:hover .range {
  accent-color: var(--primary-hover);
}

.slider:active .range {
  accent-color: var(--primary-active);
}

.range {
  pointer-events: none;
}
